/* 全域樣式 */
body {
    margin: 0;
    font-family: "LXGW WenKai TC", cursive;
    background-color: whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 內容外框樣式 */
.content {
    max-width: 1024px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 中心對齊 */
}

.flex-container {
    display: block; /* 默認顯示為塊級元素 */
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

/*文字*/
h2 {
    text-align: center;
}

#text {
    margin: 20px auto; /* 中心對齊 */
    text-align: left;
    max-width: 800px; /* 控制文字區域寬度 */
}

#text h3 {
    margin-top: 0;
}

/* 圖像樣式 */
#img_set1 {
    width: 300px;
    height: 300px;
    border: 10px double white;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 50%;
    margin: 20px auto; /* 中心對齊 */
    display: block; /* 圖片為塊級元素 */
}

@media (min-width: 769px) {
    .flex-container {
        display: flex; /* 在大屏幕上使用flex布局 */
        align-items: flex-start;
        justify-content: center;
    }

    #text {
        margin: 20px;
    }

    #img_set1 {
        margin: 20px;
    }
}
