/* 全域樣式 */
body {
    margin: 0;
    font-family: "LXGW WenKai TC", cursive;
    background-color: whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 內容外框樣式 */
.content {
    max-width: 1024px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 中心對齊 */
}

/*圖像*/
#img_set1 {
    width: 300px;
    height: 300px;
    border: 0cm;
    border-width: thin medium thick;
    border-color: white;
    border-style: double;
    border-width: 10px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 50%;
}

/*文字*/
#text {
    margin-top: 20px; 
}