/* 內容外框樣式 */
.content {
    max-width: 1024px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 中心對齊 */
}

/* 項目標題 */
.ithem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: calc(30% - 20px); /* 設置寬度為50%，並減去間距 */
    max-width: none; 
    text-align: center;
    border: 2px solid black; 
    border-radius: 10px;
    padding: 10px; 
    box-sizing: border-box; 
}

.ithem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ithem-title {
    color: black;
    font-size: 2em; 
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

/* RWD */
@media (max-width: 768px) {
    .ithem {
        width: 100%; 
    }
}