body {
    margin: 0%;
}

ul {
    margin: 0%;
}

header {
    height: 200px;
    background-color: rgba(0, 128, 0, 0.322);
}

nav {
    height: 80px;
    background-color: rgb(236, 250, 215);
    text-align: center;
    position: relative;
}

main {
    min-height: 1000px;
    background-color: aqua;
}

footer {
    height: 100px;
    background-color: aquamarine;
}

aside {
    width: 20%;
    background-color: rgb(220, 245, 220);
    min-height: 1000px;
    float: left;
}

section {
    width: 80%;
    background-color: blanchedalmond;
    min-height: 1000px;
    float: left;
}

.menu {
    list-style-type: none;
    width: 600px;
    position: absolute;
    right: 10px;
}

.menu-item {
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
}

.menu-item a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    line-height: 100px;
}

.menu-item a:hover {
    color: red;
}

#container1 {
    width: 980px;
    margin: 0% auto;
}

.gotop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: beige;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    line-height: 3em;
    position: absolute;
    right: 0px;
    bottom: 50px;
    position: fixed;
}

.arrow {
    font-size: 6em;
    text-align: center;
}

.photo {
    font-size: 10em;
    color: pink;
    position: absolute;
    right: 40px;
    bottom: -30px;
    position: relative;
}