.inner {
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
    font-size: 3em;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner:nth-child(odd) {
    height: 400px;
}

.outter {
    display: flex;
    flex-direction: row;
}